<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="article-form-body">
    <main>
        <header class="header-article-form">
            <h2>Create  a new blog </h2>
        </header>
        
        <form action="/articles/new"  method="POST" >
            <div  class="form-div">
                <input type="text" name="title" placeholder="Title">
                <textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea>
                <input type="text" name="author" placeholder="Author">
                <input type="text" name="tags"  placeholder="Tags">
                <input type="number" name="pages" placeholder="Pages">
                <input type="submit" value="Add">
            </div> 
        </form>
    </main>
</body>
</html>